.navbar{
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 20px;

}
.navbar li{
    display: inline-block;
    padding: 30px 20px;
}
.navbar a {
    text-decoration: none;
    color: black;
}
.banner{
    background-color: #4D00FF;
    color: white;
    margin-top: 50px;
    text-align: center;
    padding: 100px 0;
}
#small-gritty{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    filter: drop-shadow(3px 3px 3px black);
}

.gritter-section{
    padding: 20px 50px;
    flex-direction: column;
    display: flex;            
    justify-content: center;            
   align-items: center;
    
}

#gritter{
    color: #4D00FF ;
    font-size: 100px;
}
#greets ul {
     list-style-type: none;
    
}

.avatar {
    background-image: url(./gritty.jpg);
    background-size: cover;
    height: 50px;
    width: 50px;
    border-radius: %50;

}

.bold {
    font-weight: 900;
   
}
a.blue {
    color: blue;
}
.textbox{
    width: 250px;

}

.btngr {
    background-color: red;
    border-radius: 10px;
    color: bisque;
    border: none;
    padding: 4px;
}
.btngr:hover{
    background-color: rgb(215, 42, 195);
}
#greets ul li{
   display: flex;
   padding: 5px;
    
}
.avatar{
    padding: 5px;
    margin-right: 5px;
    border-radius: 50%;
}
.sectops ul span{
    color: bisque;
    background-color: red;
    border-radius: 10px;
    font-size: 25px;
   padding: 10px;
}
input[type=text] {
    background-color: rgb(243, 240, 240);
    color: white; }

#sectiontext {
    background-color: rgb(243, 240, 240);
    padding: 20px;
    border-radius: 10px;}